<!--form action="/manage/log_in_submit" method="post"-->
<%= form_tag( controller: 'manage', action: 'log_in_submit', method: 'post' ) %>
  <label>What's the password? <input type="password" name="password" /></label>
  <input type="submit" />
</form>
