<p>
Welcome! We have condensed all of our registries on this one site. This way you can shop wherever is convenient for you and still take items off of the registry, even if you can't get to a particular store. Please, if you buy something, just make sure to click the "Mark this item as purchased" link so that somebody else doesn't buy it.
</p>
